<section id="myblog" class="myblog">
  
<div class="content-paralax">
  <div class="text-center">
    <h1>BLOG</h1>
    <h3>所见所闻 所思所想</h3>
    <br/>
    <br/>
  </div>
  </div>
  <div class="container">
  <div id="blog-panel" class="blog-panel col-md-9"></div>
  <div class="recentComments col-md-3">
    <div class="recentCommentsHead">最新评论</div>
   <!-- 多说最新评论 start -->
  <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
<!-- 多说最新评论 end -->
</div>

  </div>
    <script>
    showIndexBlog(null);
    </script>
</section>