<section  id="news" class="newsSpan">

  <header class="news-nav">
    <div class="np-inside container">
      <ul class="label-nav">
        <li><a id="0" href="#" class ="selected">技术博文</a></li>
        <li><a id="1" href="#">业界新闻</a></li>
      </ul>
    </div>  
  </header>

<div class="news">
      <div  class="rss-panel container"><i class="fa fa-spinner"></i></div>
      <div class="pagePanel"><ul id="newsPage" class="pageBtn container"></ul></div>
</div>
    <script>
    getRSSnews();
    </script>
</section>